<!doctype html>
<html lang="en" data-framework="marionettejs">
	<head>
		<meta charset="utf-8">
		<title>Marionette-Redux</title>
		<link rel="stylesheet" href="./marionette_todomvc/node_modules/todomvc-app-css/index.css">
		<link rel="stylesheet" href="./marionette_todomvc/node_modules/todomvc-common/base.css">
		<link rel="stylesheet" href="./marionette_todomvc/css/app.css">
		<link rel="stylesheet" href="./marionette-redux.css">
	</head>
	<body>
		<div class="description">
			<h1>Marionette-Redux</h1>
			<p>This is a simple connection between Marionette and redux. It's designed to ease a transition to redux, but could be used to bring elements of the one way data flow to Marionette.</p>
			<p>To use it add <code>model.handleAction</code> and <code>model.createAction</code> to the models (and collections) that you want integrated into redux and add the Backbone Middleware and Dispatch to redux.</p>
			<p>Play with the todo lists below to see it in action.</p>
		</div>
		<!-- marionette -->
		<section id="todoapp" class="marionette-container">
			<header id="header"></header>
			<section id="main"></section>
			<footer id="footer"></footer>
		</section>
		<!-- redux -->
		<div class="todoapp redux-container" id="redux-root">
		</div>


		<script type="text/html" id="template-footer">
			<span id="todo-count">
				<strong><%= activeCount %></strong> <%= activeCountLabel() %>
			</span>
			<ul id="filters">
				<li class="all">
					<a href="#/">All</a>
				</li>
				<li class="active">
					<a href="#/active">Active</a>
				</li>
				<li class="completed">
					<a href="#/completed">Completed</a>
				</li>
			</ul>
			<button id="clear-completed" <% if (!completedCount) { %>class="hidden"<% } %>>Clear completed</button>
		</script>
		<script type="text/html" id="template-header">
			<h1>Marionette</h1>
			<input id="new-todo" placeholder="What needs to be done?" autofocus>
		</script>
		<script type="text/html" id="template-todoItemView">
			<div class="view">
				<input class="toggle" type="checkbox" <% if (completed) { %>checked<% } %>>
				<label><%- text %></label>
				<button class="destroy"></button>
			</div>
			<input class="edit" value="<%- text %>">
		</script>
		<script type="text/html" id="template-todoListCompositeView">
			<input id="toggle-all" type="checkbox">
			<label for="toggle-all">Mark all as complete</label>
			<ul id="todo-list"></ul>
		</script>
		<!-- vendor libraries -->
		<script src="./marionette_todomvc/node_modules/todomvc-common/base.js"></script>
		<script src="./marionette_todomvc/node_modules/jquery/dist/jquery.js"></script>
		<script src="./marionette_todomvc/node_modules/underscore/underscore.js"></script>
		<script src="./marionette_todomvc/node_modules/backbone/backbone.js"></script>
		<script src="./marionette_todomvc/node_modules/backbone.localstorage/backbone.localStorage.js"></script>
		<script src="./marionette_todomvc/node_modules/backbone.marionette/lib/backbone.marionette.js"></script>
		<script src="./marionette_todomvc/node_modules/backbone.radio/build/backbone.radio.js"></script>
    	<script src="./redux-todomvc/dist/bundle.js"></script>
		<!-- application -->
		<script src="./marionette_todomvc/js/TodoMVC.Application.js"></script>
		<script src="./marionette_todomvc/js/TodoMVC.Todos.js"></script>
		<script src="./marionette_todomvc/js/TodoMVC.Layout.js"></script>
		<script src="./marionette_todomvc/js/TodoMVC.TodoList.Views.js"></script>
		<script src="./marionette_todomvc/js/TodoMVC.Router.js"></script>
		<script src="./marionette_todomvc/js/TodoMVC.FilterState.js"></script>
		<script src="./marionette_todomvc/js/TodoMVC.js"></script>
		<!-- redux -->
	</body>
</html>
